[Desktop Entry]
Name=Orchis Desktop FirstBoot Setup
Comment=Sets up Orchis Desktop Correctly On FirstBoot
Exec=/usr/bin/orchis-firstboot
Icon=org.gnome.Terminal
Type=Application
Categories=Utility;System;
Name[en_US]=startup
